 {% extends 'baskets/base.html' %}

    {% block content %}


     <div class="row" >
               <div class="col-md-2">
                       <a title='remove task' href="{% url 'alibaskets:remove_task' pk=task.pk %}" >
                         <span style='font-size:30px; color:red ' class="glyphicon glyphicon-remove-sign"></span></a>
               </div>
               <div class="col-md-8">
              
                <table class="table table-bordered"  >
                     <thead class="thead-inverse">
                      <tr>
                        <th style='font-size:30px;color:white;text-shadow: 1px 1px 1px rgb(100, 130, 116), 0 0 1em ; background-color:mediumturquoise'>Options</th>
                        <th style='font-size:30px; color:white;text-shadow: 1px 1px 1px rgb(100, 130, 116), 0 0 1em ; background-color:mediumturquoise'>Value</th>
                       
                        </tr>
                     </thead>
                {% for key, value in task_dict.iteritems %}
                
                <tr>
                        <th> {{ key }} </th>
                        <td> {{ value }} </td>
                </tr>
                {% endfor %}
                </table>
                </div>
                <div class="col-md-2">
               </div>
     </div>

      {% endblock %}